<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong><%= t("pages.help.faq.page.faq_1_title") %></strong></a></li>
      <li><a href="#2"><strong><%= t("pages.help.faq.page.faq_2_title") %></strong></a></li>
      <li><a href="#3"><strong><%= t("pages.help.faq.page.faq_3_title") %></strong></a></li>
      <li><a href="#4"><strong><%= t("pages.help.faq.page.faq_4_title") %></strong></a></li>
      <li><a href="#5"><strong><%= t("pages.help.faq.page.faq_5_title") %></strong></a></li>
      <li><a href="#6"><strong><%= t("pages.help.faq.page.faq_6_title") %></strong></a></li>
      <li><a href="#7"><strong><%= t("pages.help.faq.page.faq_7_title") %></strong></a></li>
      <li><a href="#8"><strong><%= t("pages.help.faq.page.faq_8_title") %></strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear"><%= t("pages.help.faq.page.title") %></h1>
    <p><%= t("pages.help.faq.page.description") %></p>

    <h2 id="1"><%= t("pages.help.faq.page.faq_1_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_1_description") %></p>
    <h2 id="2"><%= t("pages.help.faq.page.faq_2_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_2_description") %></p>
    <h2 id="3"><%= t("pages.help.faq.page.faq_3_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_3_description") %></p>
    <h2 id="4"><%= t("pages.help.faq.page.faq_4_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_4_description") %></p>
    <h2 id="5"><%= t("pages.help.faq.page.faq_5_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_5_description") %></p>
    <h2 id="6"><%= t("pages.help.faq.page.faq_6_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_6_description") %></p>
    <h2 id="7"><%= t("pages.help.faq.page.faq_7_title") %></h2>
    <p><%=raw t("pages.help.faq.page.faq_7_description") %></p>
    <h2 id="8"><%= t("pages.help.faq.page.faq_8_title") %></h2>
    <p><%=raw t("pages.help.faq.page.faq_8_description") %></p>
  </div>
</div>
