<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong><%= t("pages.help.faq.page.faq_1_title") %></strong></a></li>
      <li><a href="#2"><strong><%= t("pages.help.faq.page.faq_2_title") %></strong></a></li>
      <li><a href="#21"><strong>¿Cómo puedo comprobar mi identidad en la plataforma?</li>
      <li><a href="#3"><strong><%= t("pages.help.faq.page.faq_3_title") %></strong></a></li>
      <li><a href="#4"><strong><%= t("pages.help.faq.page.faq_4_title") %></strong></a></li>
      <li><a href="#5"><strong><%= t("pages.help.faq.page.faq_5_title") %></strong></a></li>
      <li><a href="#6"><strong><%= t("pages.help.faq.page.faq_6_title") %></strong></a></li>
      <li><a href="#7"><strong><%= t("pages.help.faq.page.faq_7_title") %></strong></a></li>
      <li><a href="#8"><strong><%= t("pages.help.faq.page.faq_8_title") %></strong></a></li>
      <li><a href="#9"><strong>¿Puede mi colonia poner dinero propio y complementarlo con el presupuesto participativo? </strong></a></li>
      <li><a href="#10"><strong>¿Puedo juntar el presupuesto de dos o más colonias?</strong></a></li>
      <li><a href="#11"><strong>¿Puedo hacer propuestas que beneficien a colonias diferentes a la mía? </strong></a></li>
      <li><a href="#12"><strong>¿Qué puedo hacer si no soy experta o experto en el tema de mi propuesta?</strong></a></li>
      <li><a href="#13"><strong>¿Cómo determinaron el precio que aparece en los elementos del catálogo en la guía ciudadana?</strong></a></li>
      <!-- <li><a href="#14"><strong>¿Qué más puedo hacer en la plataforma?</strong></a></li> -->
      <li><a href="#15"><strong>¿Qué pasa si ningún proyecto de mi colonia se determina como factible? ¿Qué pasa con el dinero asignado a mi colonia? </strong></a></li>
      <li><a href="#151"><strong>¿Qué pasa si nadie sube una propuesta en mi junta o sector?</strong></a></li>

      <li><a href="#16"><strong>¿Qué se necesita para que una propuesta sea factible?</strong></a></li>
      <li><a href="#17"><strong>¿Qué pasa si ningún proyecto se considera factible?</strong></a></li>
      <li><a href="#18"><strong>¿Cómo funciona la votación?</strong></a></li>
      <!-- <li><a href="#19"><strong>¿Qué pasa si hay un empate?</strong></a></li>
      <li><a href="#20"><strong>¿Qué pasa con el dinero que sobra de cada proyecto?</strong></a></li> -->


    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear"><%= t("pages.help.faq.page.title") %></h1>

    <h2 id="1"><%= t("pages.help.faq.page.faq_1_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_1_description") %></p>
    <h2 id="2"><%= t("pages.help.faq.page.faq_2_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_2_description") %></p>
    <h2 id="21">¿Cómo puedo comprobar mi identidad en la plataforma?</h2>
    <p>Para comprobar tu identidad deberás subir a la plataforma una copia legible de tu credencial para votar. </p>
    <h2 id="3"><%= t("pages.help.faq.page.faq_3_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_3_description") %></p>
    <h2 id="4"><%= t("pages.help.faq.page.faq_4_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_4_description") %></p>
    <h2 id="5"><%= t("pages.help.faq.page.faq_5_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_5_description") %></p>
    <h2 id="6"><%= t("pages.help.faq.page.faq_6_title") %></h2>
    <p><%= t("pages.help.faq.page.faq_6_description") %></p>
    <h2 id="7"><%= t("pages.help.faq.page.faq_7_title") %></h2>
    <p><%=raw t("pages.help.faq.page.faq_7_description") %></p>
    <h2 id="8"><%= t("pages.help.faq.page.faq_8_title") %></h2>
    <p><%=raw t("pages.help.faq.page.faq_8_description") %></p>
    <h2 id="9">¿Puede mi colonia poner dinero propio y complementarlo con el presupuesto participativo? </h2>
    <p>Sí mientras que el Municipio pueda ejecutar el proyecto de presupuesto participativo sin depender de la aportación de un gasto privado. Es decir, sí se puede crear un proyecto del Presupuesto Participativo que se complementa con otro componente autofinanciado, mientras sigan otro proceso administrativo y no dependan uno del otro.</p>
    <h2 id="10">¿Puedo juntar el presupuesto de dos o más colonias?</h2>
    <p>Cuando dos o más colonias tengan un proyecto en conjunto, les recomendamos dividir el proyecto por componentes o fases para cada colonia, según su presupuesto, ya que el mismo se tendrá que subir a las dos colonias y ganar en ambas para realizarse en su totalidad. Si solamente gana en una, solamente se podrá realizar esa parte del proyecto.</p>
    <h2 id="11">¿Puedo hacer propuestas que beneficien a colonias diferentes a la mía? </h2>
    <p>Por supuesto que sí. De hecho, es una tradición Sampetrina que quisiéramos fomentar. Lo único que tienes que hacer es subir la propuesta a tu colonia y promocionarla para que sea la que reciba más votos.</p>
    <h2 id="12">¿Qué puedo hacer si no soy experta o experto en el tema de mi propuesta?</h2>
    <p>No hay por qué preocuparse, todos tenemos un tipo de experiencia que aportar. Te recomendamos que desarrolles muy bien la problemática específica que quieres atender, y respondas las siguientes preguntas del proceso creativo: </p>

      <ol start="1">
        <li>¿Quiéne	s son las principales personas afectadas por este problema?</li>
        <li>¿Cuáles son las causas principales de este problema?</li>
        <li>¿Con qué evidencia cuento para saberlo?</li>
      </ol>

      <p>Cuando la tengas bien definida, intenta responder:</p>
      <ol start="5">
        <li>¿Qué proyecto puede ayudar a solucionar este problema/oportunidad de mejora?</li>
        <li>¿Cuántos elementos componen la propuesta?</li>
        <li>¿Cómo sabemos que esta propuesta mejorará el espacio?</li>
      </ol>
    <p>Ya por último, ponle nombre a tu propuesta, y no temas incluir algo creativo.</p>

    <p>Si aún así no lo tienes claro o necesitan un apoyo adicional, tenemos voluntarios de la red de urbanistas cívicos, que podrán auxiliarte en la elaboración de una propuesta. Llámanos al 8048-2059 para solicitar su apoyo.</p>

    <h2 id="13">¿Cómo determinaron el precio que aparece en los elementos del catálogo en la guía ciudadana?</h2>
    <p>
      El precio de los elementos en el catálogo se obtuvieron a partir de un promedio histórico de costo de contratación en años anteriores, por lo que representa un costo aproximado y podría estar sujeto a cambio según el resultado de los procesos de cotización, compra y licitación, tomando en cuenta las particularidades de cada proyecto.
    </p>
    <p>
      Si conoces algún proveedor que lo pueda dar a menor precio, ¡invítalos a participar! Se podrán dar de alta al padrón de proveedores del Municipio de San Pedro y los estaremos actualizando cuando surja el proceso de adquisición de los productos y servicios <a  target="_blank"  href="https://www.sanpedro.gob.mx/tyswebapp/pages/detalleTramite.aspx?tramite=5">(ver pasos para que se den de alta aquí).</a>
    </p>


    <!-- <h2 id="14">¿Qué más puedo hacer en la plataforma? </h2>
    <p>En la plataforma podrás encontrar todas las propuestas, comentarlas, darles “me gusta” o compartirlas en tus redes sociales.

    Puedes buscarlas con base en su rubro o etiqueta temática, o a partir de categorías como: las más nuevas, las más apoyadas - que tienen más “me gusta”,  las más activas - que tienen más comentarios, o las más destacadas.
    </p> -->
    <h2 id="15">¿Qué pasa si ningún proyecto de mi colonia se determina como factible? ¿Qué pasa con el dinero asignado a mi colonia? </h2>
    <p>Cuando ningún proyecto se determina factible, tomamos las tres propuestas con el mayor número de apoyos, citamos a quienes los redactaron, y con apoyo de las dependencias responsables, buscaremos ajustar los proyectos para que sean factibles y los mismos los puedan votar en la siguiente fase.</p>
    <h2 id="151">¿Qué pasa si nadie sube una propuesta en mi junta o sector?</h2>
    <p>
      En caso de que ningún proyecto se proponga en la junta o sector, el monto asignado se reintegrará al presupuesto Municipal.
    </p>
    <h2 id="16">¿Qué se necesita para que una propuesta sea factible?</h2>
    <p>Para que una propuesta sea factible debe cumplir con las siguientes:</p>
    <ol>
      <li>factibilidad económica: que la propuesta se ajuste al presupuesto de tu Colonia.</li>
      <li>factibilidad técnica: que la propuesta pueda implementarse, es decir, que cuente con todos los elementos para que funcione.</li>
      <li>factibilidad jurídica: que la propuesta no contravenga disposiciones legales o contratos previos de la administración.</li>
    </ol>
    <h2 id="17">¿Qué pasa si ningún proyecto se considera factible?</h2>
    <p>En caso de que ningún proyecto de una junta de vecinos o sector se considera factible, las secretarías responsables adecuarán los tres proyectos con mayor número de apoyos para cumplir con los parámetros de factibilidad, y se avisará a los usuarios que los propusieron para que más adelante se puedan incluir en la votación.</p>
    <h2 id="18">¿Cómo funciona la votación?</h2>
    <p>La votación se hará por medio de la plataforma Decide San Pedro, donde cada usuario podrá votar únicamente una vez, por cuantos proyectos decida hasta agotar la bolsa disponible por junta o sector.</p>
    <!-- <h2 id="19">¿Qué pasa si hay un empate?</h2>
    <p>En caso de empate de dos proyectos conjuntamente inviables, ganará aquél que haya reunido la mayor cantidad de apoyos, y de tener el mismo número de apoyos, se seleccionará la que se subió primero a la plataforma.</p>
    <h2 id="20">¿Qué pasa con el dinero que sobra de cada proyecto?</h2>
    <p>Los presidentes de las mesas directivas de cada sector se reúnen en un consejo, donde pueden autorizar la implementación de otros proyectos con el dinero remanente. </p> -->
  </div>
</div>
