<style media="screen">
  a { color: #060606; }
</style>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :title do %><%= t('budgets.index.title') %><% end %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<% if current_budget.present? %>
  <div id="budget_heading" class="expanded budget no-margin-top">
    <div class="row" data-equalizer data-equalizer-on="medium">
      <div class="small-12 medium-9 column padding" data-equalizer-watch>

        <h1><%= current_budget.name %></h1>
        <div class="description">
          <%= safe_html_with_links(current_budget.description) %>
        </div>
      </div>
      <div class="small-12 medium-3 column info padding" data-equalizer-watch>
        <p>
          <strong><%= t("budgets.show.phase") %></strong>
        </p>
        <h2><%= t("budgets.phase.#{current_budget.phase}") %></h2>

        <%= link_to t("budgets.index.section_header.all_phases"), "#fases" %>
        <br>
        <%= link_to t("welcome.feed.see_all_proposals"), investments_path %>

        <% if current_budget.accepting? %>
          <% if current_user %>
            <% if current_user.level_two_or_three_verified? %>
              <%= link_to t("budgets.investments.index.sidebar.create"),
                new_budget_investment_path(current_budget),
                class: "button margin-top expanded" %>
            <% else %>
              <div class="callout warning margin-top">
                <%= t("budgets.investments.index.sidebar.verified_only",
                      verify: link_to(t("budgets.investments.index.sidebar.verify_account"),
                                      verification_path)).html_safe %>
              </div>
            <% end %>
          <% else %>
            <div class="callout primary margin-top">
              <%= t("budgets.investments.index.sidebar.not_logged_in",
                    sign_in: link_to(t("budgets.investments.index.sidebar.sign_in"),
                                     new_user_session_path),
                                     sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"),
                                                      new_user_registration_path)).html_safe %>
            </div>
          <% end %>
        <% end %>

        <% if current_budget.finished? %>
          <%= link_to t("budgets.show.see_results"),
            budget_results_path(current_budget, heading_id: current_budget.headings.first),
            class: "button margin-top expanded" %>
        <% end %>

        <p style="
        text-transform: inherit;">
          Recuerda que puedes editar tu propuesta hasta el 15 de marzo.
          No olvides dar click en 'Crear Propuesta' para guardar tus cambios.</p>
      </div>
    </div>
  </div>

  <div id="budget_info" class="budget-info">
    <div class="row margin-top">
      <div class="small-12 column">

        <div id="groups_and_headings" class="groups-and-headings">
          <h2 id="<%= @sectores.name.parameterize %>"><%= @sectores.name %></h2>
          <p>
            Nuestro Municipio se divide en 6 sectores de participación ciudadana.
            Aquí el presupuesto que va a recibir cada Sector.
          </p>
          <p>
            <em>
              Da <strong>click al recuadro</strong> para conocer las propuestas
              elaboradas por vecinas y vecinos en cada uno.
            </em>
          </p>
          <ul class="no-bullet" data-equalizer data-equalizer-on="medium">
            <%= render partial: 'heading', collection: @sectores.headings.order_by_group_name, as: :heading %>
          </ul>
        </div>

        <div id="groups_and_headings" class="groups-and-headings">
          <h2>Juntas de Vecinos(as)</h2>
          <p>
            Cada Sector cuenta con aproximadamente 35 Juntas de Vecinos(as).
            ¿No sabes a cuál Junta perteneces? Aquí un mapa que te podría ayudar.
          </p>
          <div class="container">
            <iframe src="https://www.google.com/maps/d/embed?mid=1TuVOjg8Qg3wPqMyBvNZlcg3O24N_hke2" width="640" height="480"></iframe>
          </div>
          <br>
          <p>
            <em>
              Da <strong>click a cada recuadro</strong> de
              junta de vecinos para conocer las propuestas que han hecho sus
              vecinos y vecinas.
            </em>
          </p>

          <% @sectors_with_headings.each do |sector, headings| %>
            <h3><%= sector %></h3>
            <ul class="no-bullet" data-equalizer data-equalizer-on="medium">
              <%= render partial: 'heading', collection: headings, as: :heading %>
            </ul>
          <% end %>

          <% unless current_budget.informing? %>
          <% if Setting['feature.show_all_invesments'] %>
            <div class="map">
              <h3><%= t("budgets.index.map") %></h3>
              <%= render_map(nil, "budgets", false, nil, @all_investments_map) %>
            </div>
          <% else %>
            <div class="map">
              <h3><%= t("budgets.index.map") %></h3>
              <%= render_map(nil, "budgets", false, nil, @budgets_coordinates) %>
            </div>
          <% end %>



            <p>
              <% show_links = show_links_to_budget_investments(current_budget) %>
              <% if show_links %>
                <%= link_to budget_investments_path(current_budget.id) do %>
                  <small><%= t("budgets.index.investment_proyects") %></small>
                <% end %><br>
              <% end %>
              <%= link_to budget_investments_path(budget_id: current_budget.id, filter: 'unfeasible') do %>
                <small><%= t("budgets.index.unfeasible_investment_proyects") %></small>
              <% end %><br>
              <% if show_links %>
                <%= link_to budget_investments_path(budget_id: current_budget.id, filter: 'unselected') do %>
                  <small><%= t("budgets.index.not_selected_investment_proyects") %></small>
                <% end %>
              <% end %>
            </p>
          <% end %>

          <div id="fases">
            <h2><%= t("budgets.index.all_phases") %></h2>
            <%= render "phases", budget: current_budget %>
          </div>
        </div>

      </div>

      <% if @finished_budgets.present? %>
        <div class="row margin-top">
          <div class="small-12 medium-9 column">
            <ul class="no-bullet submenu">
              <li class="inline-block">
                <%= link_to "#other_budgets", class: "is-active" do %>
                  <h2>
                    <%= t("budgets.index.finished_budgets") %>
                  </h2>
                <% end %>
              </li>
            </ul>

            <div id="finished_budgets" class="budget-investments-list">
              <% @finished_budgets.each do |budget| %>
                <div class="budget-investment clear">
                  <div class="panel past-budgets">
                    <div class="row" data-equalizer data-equalizer-on="medium">
                      <div class="small-12 medium-6 column table" data-equalizer-watch>
                        <div class="table-cell align-middle">
                          <h3><%= budget.name %></h3>
                        </div>
                      </div>

                      <div class="small-12 medium-6 column table" data-equalizer-watch>
                        <div id="budget_<%= budget.id %>_results" class="table-cell align-middle">
                          <%= link_to t("budgets.index.see_results"),
                            budget_results_path(budget.id),
                            class: "button" %>
                          <%= link_to t("budgets.index.milestones"),
                            budget_executions_path(budget.id),
                            class: "button" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="expanded budget no-margin-top margin-bottom">
      <div class="row">
        <div class="small-12 medium-9 column padding">
          <h1><%= t("budgets.index.title") %></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 column">
        <div class="callout primary">
          <%= t("budgets.index.empty_budgets") %>
        </div>
      </div>
    </div>
  <% end %>
