<div class="verification account row">
  <%track_event(category: "verification", action: "success_census" )%>
  <div class="small-12 column">
    <div class="text-center">

      <div class="small-4 column verification-step completed">
        <span class="number">1</span> <%= t("verification.step_1") %>
      </div>
      <div class="small-4 column verification-step is-active">
        <span class="number">2</span> <%= t("verification.step_2_confirm_address") %>
      </div>
      <div class="small-4 column verification-step">
        <span class="number">3</span> <%= t("verification.step_2_survey") %>
      </div>
    </div>

    <div class="progress small-12 success">
      <span class="meter" style="width: 66%"></span>
    </div>

    <%= back_link_to account_path, t("verification.back") %>
    <div class="small-12 column">
      <% if current_user.sector == 'MANUAL' %>
        <h4 style="color:red"><%= t("verification.user_address.new.fail_address") %></h4>
      <% else %>
        <h4><%= t("verification.user_address.new.instruction") %></h4>
      <% end %>
    </div>

    <div class="small-12 column">

      <%= form_for @address_user, as: "address_user_confirm", url: address_user_path, html: { multipart: true } do |f| %>
            <%= render "shared/errors", resource: @address_user %>
              <div class="row">
                  <div class="small-12 column">
                    <%= render 'map_address',
                               form:     f,
                               address_user: AddressUser.new,
                               label:    t("proposals.form.map_location"),
                               help:     t("proposals.form.map_location_instructions"),
                               remove_marker_label: t("proposals.form.map_remove_marker"),
                               parent_class: "proposal",
                               i18n_namespace: "proposals" %>

                  </div>

                  <div class="actions small-12 medium-6 large-4 end column">
                    <%= f.submit t("verification.user_address.new.submit_button"), class: "button success" %>
                  </div>
            </div>
          <% end %>

    </div>

  </div>
</div>


<!-- Aqui va el mapa   -->
