<h2>Comienza a participar</h2>

<div class="user-permissions">
  <p><%= t("welcome.welcome.user_permission_info") %></p>
  <ul>
    <li><span class="icon-check"></span>&nbsp;Ver las propuestas que han subido tus vecinos(as)</li>
    <li><span class="icon-check"></span>&nbsp;Comentar y compartir propuestas</li>
    <li>
      <% if current_user.level_two_or_three_verified? %>
        <span class="icon-check"></span>
      <% else %>
        <span class="icon-x"></span>
      <% end %>
      Registrar tus propuestas*
    </li>
    <li>
      <% if current_user.level_three_verified? %>
        <span class="icon-check"></span>
      <% else %>
        <span class="icon-x"></span>
      <% end %>
      Votar por las propuestas que pasaron el examen de factibilidad*
    </li>
  </ul>

  <p>
    <span>*Para tener acceso a estas funciones tendrás que verificar tu cuenta proporcionándonos tu credencial para votar y tu número de expediente catastral</span>
  </p>

  <p>
    <%= t("welcome.welcome.user_permission_verify") %>
  </p>

  <% if current_user.level_three_verified? %>
    <p class="already-verified">
      <span class="icon-check"></span>
      <%= t("account.show.verified_account") %>
    </p>
  <% else %>
    <%= link_to(t("welcome.welcome.user_permission_verify_my_account"), verification_path, class: "button success radius expand") %>
  <% end %>

  <p>
    <% if feature?(:help_page) %>
      <%= link_to t("welcome.welcome.go_to_index"), help_path %>
    <% else %>
      <%= link_to t("welcome.welcome.go_to_index"), root_path %>
    <% end  %>
  </p>
</div>
