<% provide :title do %><%= t("pages.titles.conditions") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions.title") %></h1>
    <h2><%= t("pages.conditions.subtitle") %></h2>
    <p><%= t("pages.conditions.description") %></p>


<h2>Condiciones de uso</h2>
<p>1. Ámbito de aplicación de las condiciones de uso
La participación (entendiéndola como participación activa más allá de la lectura del contenido presente) en el Portal de Decide del Ayuntamiento de San Pedro Garza García (en adelante el “Portal”) se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.
El Ayuntamiento de San Pedro Garza García se reserva el derecho de modificar sin previo aviso las presentes condiciones de uso para la participación en el Portal, cuya última versión se publicará en este sitio web.
</p>

<p>
2. Objetivo de la iniciativa
A través del Portal, el Ayuntamiento de San Pedro Garza García quiere fomentar la participación de los ciudadanos en la gestión de la ciudad, implicándoles en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gestión más cercana a los ciudadanos que permitirá recibir sus propuestas y además, crear canales directos de comunicación con el gobierno municipal, contribuyendo a tomar las decisiones más acertadas para el interés general.
</p>

<p>
3. Cuestiones generales sobre la participación en el Portal de Decide San Pedro
Podrá participar cualquier persona física a partir de los 18 años que se haya registrado previamente en el Portal. Mediante la aceptación de estas condiciones de uso se declara tener 18 años o más. No existe limitación en cuanto al número de debates o comentarios a presentar por los participantes, pero sólo podrán proponer hasta un proyecto.
Al introducir el título de las propuestas, se recomienda escribir una descripción breve y precisa con un máximo de 2000 caracteres. Para completar la argumentación se podrán asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud.
</p>

<p>
4. Obligaciones de los usuarios del Portal de Decide
Al ser el Ayuntamiento de San Pedro Garza García un punto de encuentro cuyo objetivo es debatir, compartir y valorar propuestas relacionadas con la mejora de la ciudad, los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo, así como actuar de acuerdo con la moral, las buenas costumbres y de buena fe.
Se le prohíbe al usuario utilizar el servicio del Portal para fines ilícitos o contrarios a lo establecido en los términos de uso. Por ende, el Ayuntamiento de San Pedro Garza García no es responsable del uso incorrecto del Portal por los usuarios o de los contenidos publicados por los mismos en el Portal, siendo cada usuario responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.
El Ayuntamiento de San Pedro Garza García se reserva, por lo tanto, el derecho a limitar la publicación de opiniones, informaciones, comentarios o documentos que los usuarios en el Portal, pudiendo instalar filtros a tal efecto.
El Ayuntamiento de San Pedro Garza García se reserva, por lo tanto, el derecho a: (i) restringir al usuario el derecho a la publicación de contenido; (ii) eliminar dichas publicaciones; (iii) revocar el derecho del usuario para utilizar el sitio; (iv) utilizar medios tecnológicos legales para, sin limitación, bloquear direcciones IP o desactivar su navegación por el sitio. Al generar alguna de las publicaciones, el usuario reconoce y acepta que no se reserva ningún derecho sobre su publicación y autoriza al Portal a utilizarlo total o parcialmente, en cualquier medio o de cualquier forma según sea su conveniencia.   Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental del Portal y su licitud.
Las publicaciones de los usuarios en el Portal bajo ninguna circunstancia expresan las ideas, ideología y/o intenciones del Ayuntamiento de San Pedro Garza García.
De acuerdo con la normativa legal vigente queda prohibida la utilización del Portal con fines distintos a los de debatir, compartir y valorar propuestas, y específicamente:
Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.
 Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.
Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.
Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.
Su utilización con fines de publicidad.
La realización de cualquiera de los anteriores comportamientos permitirá al Ayuntamiento de San Pedro Garza García suspender temporalmente la actividad de un participante, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.
En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento de San Pedro Garza García no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.
En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en el sitio web y/o un tercero, el Ayuntamiento de San Pedro Garza García quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.
</p>

<p>
5. Uso del Portal de Decide
Los participantes podrán acceder y navegar por el Portal de Decide libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique la creación, apoyo o comentario de una propuesta, o a la participación en un debate, se le solicitará que introduzca sus credenciales, para cuya obtención será necesario registrarse previamente. El registro que permitirá participar comentando en cualquiera de las secciones, creando debates o propuestas, se realizará introduciendo los siguientes datos:
Nombre de usuario
Correo electrónico
Aceptación de las condiciones de uso del Portal de Decide San Pedro.
Para participar apoyando propuestas, al usuario se le requerirá que verifique su cuenta cumpliendo que tiene 18 años o más y es residente de San Pedro Garza García, para lo cual se le guiará a través de una serie de pasos donde se le solicitarán datos relativos al padrón y un medio de comunicación a través del cual facilitarle uno o dos códigos seguros para completar la verificación de su cuenta (dependiendo del medio de comunicación elegido por el usuario).
El usuario podrá interactuar con la herramienta interviniendo, al menos, de las siguientes formas:
</p>

<p>
 5.1. DEBATES
En el apartado de debates el usuario podrá participar:
Creando un debate. Cada usuario podrá abrir uno o más debates. Los debates serán publicados automáticamente.
Votando de manera positiva o negativa a los debates creadas por los usuarios. Los debates aparecerán con los votos positivos y negativos recibidos. Cada usuario podrá exclusivamente votar o bien positivo o bien negativo, y una vez a un mismo debate.
Comentando los debates del resto de usuarios. Cada debate podrá ser comentado por el resto de usuarios.
5.2. PROPUESTAS
En el apartado de propuestas ciudadanas el usuario podrá participar:
Creando una propuesta. Cada usuario podrá dar de alta una propuesta. Las propuestas serán publicadas automáticamente.
Apoyando las propuestas creadas por los usuarios. Las propuestas aparecerán con el número de apoyos recibidos. Cada usuario podrá exclusivamente apoyar una vez a una misma propuesta.
Comentando las propuestas del resto de usuarios. Cada propuesta podrá ser comentada por el resto de usuarios, pudiendo argumentar las razones del apoyo o introducir mejoras a la misma.
</p>

<p>
6. Condiciones para el tratamiento de los contenidos proporcionados por los usuarios
Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta plataforma a través del formulario correspondiente (en adelante, el contenido).
Estas condiciones se aplican tanto al contenido inicialmente remitido al Portal de Decide como a cualquier contenido que se envíe con posterioridad o se manifieste al Ayuntamiento de San Pedro Garza García, debiendo significarse lo siguiente:
No Confidencialidad: Todo el contenido remitido por el usuario al Ayuntamiento de San Pedro Garza García deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Ayuntamiento de San Pedro Garza García tratará el citado contenido como información no confidencial.
Procedimiento: En el caso de que el Ayuntamiento de San Pedro Garza García esté interesado en el contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente Acuerdo de Confidencialidad.
El Ayuntamiento de San Pedro Garza García se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de Propiedad Intelectual e Industrial".
En el supuesto que el Ayuntamiento de San Pedro Garza García, a su entera discreción, decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Ayuntamiento de San Pedro Garza García no adquiere compromiso alguno.
Publicidad o difusión de los contenidos presentados: Los participantes en el Portal de Decide San Pedro del Ayuntamiento de San Pedro Garza García declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en la web https://www.sanpedro.gob.mx, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa.
No devolución material: El Ayuntamiento de San Pedro Garza García carece de obligación alguna de devolver el Contenido remitido por los usuarios.
Procedimiento de aviso y retirada: El Ayuntamiento de San Pedro Garza García procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes. Asimismo, cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos al Ayuntamiento de San Pedro Garza García. El Ayuntamiento de San Pedro Garza García se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.
</p>

<p>
7. Política de privacidad y protección de datos
A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptación de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además lo remite al Ayuntamiento de San Pedro Garza García de forma voluntaria para su divulgación en el Portal de Decide San Pedro del Ayuntamiento de San Pedro Garza García.
La titularidad de todos y cada uno de los Contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados Contenidos.
El Ayuntamiento de San Pedro Garza García no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el preceptivo consentimiento de sus legítimos titulares.
El Ayuntamiento de San Pedro Garza García respetará todos los Derechos de Propiedad Intelectual o Industrial sobre el contenido remitido por los usuarios. Cualquier vulneración de los Derechos de Propiedad Intelectual o Industrial será responsabilidad de la persona que aporte el contenido.
El Ayuntamiento de San Pedro Garza García, por la mera recepción del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido salvo aceptación expresa de su titular.
De igual manera, el Ayuntamiento de San Pedro Garza García no garantiza que la información que ofrece el Portal sea exacta, actualizada, confiable, sin errores, puntual, íntegra, fiable y confiable.
</p>
<p>
B. Protección de datos: Los datos personales aportados por los usuarios que se registren en el Portal de Decide San Pedro, serán incorporados y tratados en el fichero/tratamiento "Gestión de Procesos Participativos", cuya finalidad y legitimidad está descrita en el aviso de protección de datos .
El órgano responsable del fichero/tratamiento es la Dirección General de Participación Ciudadana, ante la que la persona interesada podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, todo lo cual se informa en cumplimiento del Artículo 19 de la Constitución Política de los Estados Unidos Mexicanos y la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.
</p>
<p>
8. Normativa aplicable
Las normas del ordenamiento jurídico de los Estados Unidos Mexicanos rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.
</p>

<p>
9. Cookies
Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y otras tecnologías a través de las cuales es posible monitorear su comportamiento como usuario de Internet, brindarle un mejor servicio y experiencia de usuario al navegar en nuestra página, así como ofrecerle nuevos productos y servicios basados en sus preferencias.
Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: horario de navegación, tiempo de navegación en el Portal, secciones consultadas, y páginas de Internet accedidas previo a la nuestra.
Asimismo, le informamos que sus datos personales que se obtienen a través de estas tecnologías no se comparten con personas, empresas, organizaciones o autoridades distintas a nosotros.
Estas tecnologías podrán activarse o desactivarse consultando el sitio web de asistencia de su navegador.
</p>

<p>
10. Fallos en el sistema
El Ayuntamiento de San Pedro Garza García no se hará responsable por cualquier daño, perjuicio o pérdida, ya sea directo, indirecto, causado al Usuario debido a fallas en el sistema, en el servidor o el internet. De igual manera, el Ayuntamiento de San Pedro Garza García no será responsable por cualquier virus que infecte el equipo del Usuario derivado del uso o acceso del Portal. El Ayuntamiento no garantiza el uso continuado del Portal, esto debido a fallas en el internet, detalles técnicos, reestructuración del Portal, mantenimiento al Portal o alguna causa ajena o no a el Ayuntamiento de San Pedro Garza García. El Usuario reconoce y acepta que El Ayuntamiento no tendrá responsabilidad alguna y no podrá inculparla por cualquier incidente anteriormente mencionado.
</p>

<p>
11. Revisión de las condiciones de uso
El Ayuntamiento de San Pedro Garza García se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando el Portal de Decide, se entenderán aceptadas las modificaciones introducidas.
Privacidad y Protección de Datos
</p>
<p>
En cumplimiento al artículo 28 de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, se expide el presente aviso de privacidad.
La Unidad de Transparencia de la Secretaría de la Contraloría y Transparencia Municipal de San Pedro Garza García, Nuevo León, es la responsable del tratamiento de los datos personales que se recolectan a través de la página electrónica: https://www.decide.sanpedro.gob.mx/
Los datos personales que se proporcionen a través del Portal, serán incorporados a un sistema con el fin de dar atención, trámite y seguimiento a las diversas propuestas y en su caso, ser consideradas en el proceso de factibilidad y votación en el Programa de Presupuesto Participativo 2019 San Pedro Garza García, Nuevo León.
Los datos que se proporcionen serán exclusivamente tratados por el área competente correspondiente, y serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, y demás normatividad que resulte aplicable.
Los datos personales que se pidan en cada solicitud específica serán obligatorios y necesarios para su trámite, entendiendo que una negativa a proporcionarlos será motivo de una solicitud incompleta.
Los datos personales que se proporcionen al sistema, sólo serán transmitidos única y exclusivamente a las autoridades que resulten competentes, para lo que se requerirá de su consentimiento previo, salvo en los casos establecidos en el artículo 145 de la Ley de Transparencia y Acceso a la Información Pública del Estado de Nuevo León
Los datos personales presentados a través del Portal serán tratados bajo por la dependencia municipal correspondiente bajo su más estricta responsabilidad, conforme a sus atribuciones legales y el aviso de privacidad correspondiente, siendo los servidores públicos responsables de resguardar y mantener los datos personales en estricta confidencialidad.
El titular de los datos personales podrá ejercer en todo momento su derecho de acceso, rectificación, cancelación y oposición (derechos ARCO) de datos personales que proporcione, pudiendo ejercer en todo momento su derecho, físicamente en las oficinas de la Unidad de Transparencia ubicadas en Calle Independencia Número 316, Colonia Centro, Municipio San Pedro Garza García, Nuevo León, Código Postal 66200, o solicitarlo en la sección de transparencia de este mismo sitio web.
Toda solicitud deberá contener: Nombre del titular de los datos personales; Documentos que acrediten la identidad del titular; En su caso, nombre del representante del titular y documentos para acreditar su identidad y personalidad; Domicilio o cualquier medio para recibir notificaciones; Descripción clara y precisa de los datos personales que se quieran rectificar, cancelar u oponerse a su tratamiento; Descripción del derecho que se quiere ejercer o de lo que solicita el titular; y, En su caso, documentos o información que faciliten la localización de los datos personales, entre ella, el área responsable del tratamiento.
Los datos personales recabados a través de la página https://www.decide.sanpedro.gob.mx/, son: Correo electrónico, Nombre de Usuario, Número de expediente catastral, Fecha de nacimiento, Código postal, Domicilio Particular, Copia de Credencial para Votar y/o Copia de Comprobante de domicilio. Así mismo, se recaban los siguientes datos para fines estadísticos:
Los datos personales proporcionados serán tratados conforme a los Artículos 1, 2, 3 Fracción XVI y XXXII, de la Ley de Transparencia y Acceso a la Información Pública del Estado de Nuevo León; 3 Fracción II, 27 y 28 y demás relativos de la Ley General de Protección de Datos Personales en Posesión de los Sujetos Obligados.
No se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad competente, que esté debidamente fundados y motivados.
El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los servicios que ofrecemos; de nuestras prácticas de privacidad; o por otras causas.
En caso de que exista un cambio de este aviso de privacidad, lo haremos de tu conocimiento en el portal https://www.sanpedro.gob.mx.
</p>

<p>
Accesibilidad
La accesibilidad web se refiere a la posibilidad de acceso a la web y a sus contenidos por todas las personas, independientemente de las discapacidades (físicas, intelectuales o técnicas) que puedan presentar o de las que se deriven del contexto de uso (tecnológicas o ambientales).
Cuando los sitios web están diseñados pensando en la accesibilidad, todos los usuarios pueden acceder en condiciones de igualdad a los contenidos, por ejemplo:
Proporcionando un texto alternativo a las imágenes, los usuarios invidentes o con problemas de visión pueden utilizar lectores especiales para acceder a la información.
Cuando los vídeos disponen de subtítulos, los usuarios con dificultades auditivas pueden entenderlos plenamente.
Si los contenidos están escritos en un lenguaje sencillo e ilustrados, los usuarios con problemas de aprendizaje están en mejores condiciones de entenderlos.
Si el usuario tiene problemas de movilidad y le cuesta usar el ratón, las alternativas con el teclado le ayudan en la navegación.
</p>
<p>
"Atajos" de teclado
</p>

<p>
Para poder navegar por este sitio web de forma accesible, se han programado un grupo de teclas de acceso rápido que recogen las principales secciones de interés general en los que está organizado el sitio.
Atajos de teclado para el menú de navegación
</p>

Tecla</br>
Página</br>
0</br>
Inicio</br>
1</br>
Debates</br>
2</br>
Propuestas</br>
3</br>
Votaciones</br>
4</br>
Procesos legislativos</br>
5</br>
Presupuestos participativos</br>
6</br></br>
</br>
Ayuda
</br>
Dependiendo del sistema operativo y del navegador que se utilice, la combinación de teclas será la siguiente:
Combinación de teclas dependiendo del sistema operativo y navegador</br>
Navegador
Combinación de teclas
Explorer
ALT + atajo y luego ENTER
Firefox
ALT + MAYÚSCULAS + atajo
Chrome
ALT + atajo (si es un MAC, CTRL + ALT + atajo)
Safari
ALT + atajo (si es un MAC, CMD + atajo)
Opera
MAYÚSCULAS + ESC + atajo

Tamaño del texto
El diseño accesible de este sitio web permite que el usuario pueda elegir el tamaño del texto que le convenga. Esta acción puede llevarse a cabo de diferentes maneras según el navegador que se utilice.

Navegador
Acción a realizar
Explorer
Ver > Tamaño del texto
Firefox
Ver > Tamaño
Chrome
Ajustes (icono) > Opciones > Avanzada > Contenido web > Tamaño fuente
Safari
Visualización > ampliar/reducir
Opera
Ver > escala

Otra forma de modificar el tamaño de texto es utilizar los atajos de teclado definidos en los navegadores, en particular la combinación de teclas:
CTRL y + (CMD y + en MAC) para aumentar el tamaño del texto
CTRL y - (CMD y - en MAC) para reducir el tamaño del texto

Compatibilidad con estándares y diseño visual
Todas las páginas de este sitio web cumplen con las Pautas de Accesibilidad o Principios Generales de Diseño Accesible establecidas por el Grupo de Trabajo WAI perteneciente al W3C.
Continuamente trabajamos en mejorar la accesibilidad de este sitio web, no obstante, si detecta algún error o desea proponer alguna mejora en materia de accesibilidad, por favor contacte con nosotros.

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
