<div class="documents-list">
  <%= f.label :documents, t("documents.form.title") %>
  <p class="help-text"><%= documentables_note(documentable) %></p>
  <p class="help-text"><b>Recuerda que para subir una propuesta para tu sector, necesitas el respaldo de dos presidentes de Junta de Vecinos de tu sector. <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1o7IYkmtgsPc-R3oYOntEbiz_Wrj61XJtrLAOPVh74EU/edit?ts=5c65f339">Aquí una plantilla</a> que puedes usar para conseguir estos respaldos.<b/></p>
  <div id="nested-documents" data-max-documents-allowed="<%= documentable.class.max_documents_allowed%>">
    <%= f.fields_for :documents do |documents_builder| %>
      <%= render 'documents/document_fields', f: documents_builder %>
    <% end %>
  </div>

  <%= link_to_add_association t('documents.form.add_new_document'), f, :documents,
                              partial: "documents/document_fields",
                              id: "new_document_link",
                              class: "button hollow  #{"hide" if documentable.documents.count >= documentable.class.max_documents_allowed}",
                              data: {
                                association_insertion_node: "#nested-documents",
                                association_insertion_method: "append"
                              } %>

  <div id="max-documents-notice" class="max-documents-notice callout primary text-center <%= "hide" unless max_documents_allowed?(documentable) %>">
    <%= t "documents.max_documents_allowed_reached_html" %>
  </div>
</div>
