<% if @users.any? %>
  <h3 class="margin"><%= page_entries_info @users %></h3>

  <table>
    <thead>
      <tr>
        <th scope="col"><%= t("admin.users.columns.name") %></th>
        <th scope="col"><%= t("admin.users.columns.email") %></th>
        <th scope="col">Num Catastral</th>
        <th scope="col"><%= t("admin.users.columns.roles") %></th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Junta Vecinal</th>
        <th scope="col">Sector</th>
        <th scope="col"><%= t("admin.users.columns.verification_level") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.order('created_at DESC').each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user), target: "_blank" %></td>
          <td><%= user.email %></td>
          <td><%= user.document_number %></td>
          <td><%= display_user_roles(user) %></td>
          <% if user.level_three_verified? %>
            <td><%= user.colonium.first.junta_nom %></td>
            <td><%= user.sector %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= user.user_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
<% else %>
  <div class="callout primary">
    <%= t("admin.users.index.no_users") %>
  </div>
<% end %>
