<style>
  @media only screen and (max-width: 768px) {
    img#logo-sp {
      max-height: 50px;
      max-width: 100%;
      width: auto;
      height: auto;
    }

    a.nav-link {
      color: black;
      font-size: large;
      padding: initial
    }

    .shady{
      color: white !important;
    }
  }

  img#logo-sp {
    width: 300px;
  }

  img#municipio {
    width: 100px;
    margin-left: 40px
  }

  .navbar-ontop {
    background-color: white !important;
}

a.nav-link {
    color: currentColor;
}


</style>

<head>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="/portal/css/aquamarine.css">
  <link rel="stylesheet" media="(max-width: 600px)" href="/portal/css/mobile.css" />
  <script src="/portal/js/popper.min.js"></script>
  <script src="/portal/js/bootstrap.min.js"></script>
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <!--script src="/portal/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/portal/js/animate-in.js"></script>

</head>

<body class="text-center">
  <div class="aqua-fluid py-3 pb-5" style="	height: 110px; background: #eee7e0">
    <div class="rowo">
      <div class="col-md-12">
        <%= image_tag(image_path_for('municipio.png'), id: 'municipio', class: 'float-left', alt: t("layouts.header.logo")) %>
      </div>
    </div>
  </div>
  <nav id=header class="navbar navbar-expand-lg navbar-dark justify-content-between">
    <div class="navbar-header">
      <%= link_to root_path, accesskey: "0" do %>
        <%= image_tag(image_path_for('logo-sp.png'), id: 'logo-sp', class: 'float-left', alt: t("layouts.header.logo")) %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Ver presupuestos',
                  budgets_path,
                  { class: 'btn rounded-0',
                    rel: 'nofollow',
                    style:'font-size: 20px; background: #4dc8cc; font-family: HKGrotesk; color: white; padding: 0.7em 1.6em;' } %>

      <%= link_to t("welcome.welcome.user_permission_debates"),
                  investments_path,
                  { class: 'btn rounded-0',
                    rel: 'nofollow',
                    style:'font-size: 20px; background: #4dc8cc; font-family: HKGrotesk; color: white; padding: 0.7em 1.6em;' } %>

      <%= link_to t("devise_views.menu.login_items.login"),
                  new_user_session_path,
                  { class: 'btn rounded-0 shady',
                    rel: 'nofollow',
                    style:'font-size: 20px; font-family: HKGrotesk; color: #46c8cd !important; padding: 0.7em 1.6em' } %>
    </div>
  </nav>
</body>
